.lg-container {
  font-family: Arial, sans-serif;
  z-index: 99999999;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: -8px;
  left: 0;
  font-weight: bold;
  animation: cloudy 5s infinite ease-in-out; }
  .lg-container .lg-bubble {
    min-height: 20px;
    max-height: 100px;
    min-width: 100px;
    max-width: 300px;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    bottom: 70%;
    left: 100%;
    text-align: center; }
    .lg-container .lg-bubble:before {
      position: absolute;
      bottom: 10px;
      left: -30px;
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      border-right: 40px solid white;
      content: " ";
      transform: rotate(-15deg) scale(1, -1); }
  .lg-container .lg-body {
    width: 100px;
    height: 100px;
    transform: translate(10vw);
    transition-timing-function: linear;
    animation: cloudy 5s infinite;
    transition: 0.5s;
    /* Bras */
    /* Yeux */ }
    .lg-container .lg-body svg {
      overflow: inherit; }
    .lg-container .lg-body .lg-elm {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .lg-container .lg-body .lg-elm-foot {
        fill: #F7931E;
        z-index: -1;
        stroke-width: 2px;
        stroke: orange;
        transition: 0.5s;
        animation: flame 2s infinite; }
      .lg-container .lg-body .lg-elm-arm {
        transition: 1s; }
        .lg-container .lg-body .lg-elm-arm-1 path {
          transform-origin: 10% 0; }
        .lg-container .lg-body .lg-elm-arm-2 path {
          transform-origin: 20% 20%; }
      .lg-container .lg-body .lg-elm-head .eyes {
        fill: white; }
    .lg-container .lg-body .coucou {
      animation: coucou 1s; }
    .lg-container .lg-body .blink {
      ry: 0; }

@keyframes coucou {
  0% {
    transform: rotate(-100deg); }
  25% {
    transform: rotate(0); }
  50% {
    transform: rotate(-100deg); }
  75% {
    transform: rotate(0); } }

@keyframes cloudy {
  10% {
    margin-bottom: 0px; }
  50% {
    margin-bottom: 9px; }
  60% {
    margin-bottom: 9px; } }

@keyframes flame {
  50% {
    fill: #ff7400; } }
