* {
  margin: 0;
  padding: 0; }

.test {
  height: 150vh;
  width: 100%;
  position: relative; }

#test {
  background-color: lightseagreen; }
  #test-2 {
    background-color: lightgreen; }
  #test-3 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50%;
    background: red; }
